/* styles.css */

/* Body Styles */
body {
    background-image: url('index blue background image.jpg'); /* Cloud blue background */
    background-size: cover; /* covers the entire page */
    background-position: center; /* centers the background image */
    background-repeat: no-repeat; /* stops the background image from repeating */
    background-color: black; /* black background of the website */
    color: black; /* white text for contrast with black background */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Change the font to Arial or a sans-serif font */
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Center Heading Styles */
.center-heading {
    text-align: center; /* Center align the text */
}

/* Heading Styles */
h1, h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Change the font for headings */
}

/* Paragraph Styles */
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Change the font for paragraphs */
}
